.hero{
    margin: 0px 120px;
    margin-top: 100px;  
}
.hero-text{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    line-height: 100px;
    font-family: Poppins;
}
.hero-explore{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: fit-content;
    margin-top: 100px;
    padding: 5px 8px;
    padding-left: 30px;
    background-color: #fff;
    border-radius: 60px;
    align-items: center;
    cursor: pointer;
}
.hero-explore p{
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.hero-dots{
    display: flex;
    gap: 23px;
    align-items: center;
    list-style: none;
   
}
.hero-dot{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 7.5px;
    cursor: pointer;
} 
.orange{
    background-color: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.hero-play p{
    color: #fff;
    font-size: 19px;

}
