.nav{
    margin: 40px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    color: white;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    gap: 90px;
    color: white;
    list-style: none;
    align-items: center;
    font-size: 18px;
}


.contact{
    padding: 8px 30px;
    background-color: white;
    border-radius: 50px;
    color: #000000;

}
.contact:hover{
    background-color: rgb(231, 140, 107);
    color: #fff;
    cursor: pointer;
}
